<section class="dishes"></section>
	<div class="container">
		<h2 class="title">Our<span class="title__el"> Dishes</span></h2>
		<div class="dishes__posititon">
			<picture class="dishes__img">

				<source media="(min-width:1080px)" srcset="./src/images/ourDishes/pizza-desk.jpg ,
                          						./src/images/ourDishes/pizza-desk@2x.jpg 2x" type="image/jpg">
				<source media="(min-width:1080px)" srcset="./src/images/ourDishes/pizza-desk.webp ,
                          						./src/images/ourDishes/pizza-desk@2x.webp 2x" type="image/webp">

				<source media="(min-width:280px)" srcset="./src/images/ourDishes/pizza-mob.jpg ,
                          						./src/images/ourDishes/pizza-mob@2x.jpg 2x" type="image/jpg">
				<source media="(min-width:280px)" srcset="./src/images/ourDishes/pizza-mob.webp,
                          						./src/images/ourDishes/pizza-mob@2x.webp 2x" type="image/webp">

				<img src="#" alt="photo pizza">
			</picture>
			<ul class="dishes__ilst">
				<li class="dishes__item">
					<a class="dishes__link" href="#">
						<picture>

							<source media="(min-width:1080px)" srcset="./src/images/ourDishes/hamburger-desk.jpg ,
                          									./src/images/ourDishes/hamburger-desk@2x.jpg 2x" type="image/jpg">
							<source media="(min-width:1080px)" srcset="./src/images/ourDishes/hamburger-desk.webp ,
                          									./src/images/ourDishes/hamburger-desk@2x.webp 2x" type="image/webp">

							<source media="(min-width:280px)" srcset="./src/images/ourDishes/hamburger-mob.jpg ,
                          									./src/images/ourDishes/hamburger-mob@2x.jpg 2x" type="image/jpg">
							<source media="(min-width:280px)" srcset="./src/images/ourDishes/hamburger-mob.webp,
                          									./src/images/ourDishes/hamburger-mob@2x.webp 2x" type="image/webp">

							<img src="#" alt="photo hamburger">
						</picture>
						<p class="dishes__text">
							Hamburger mini
							<span class="dishes__el">
								<span class="dishes__decor">----------</span>
								2.20$
							</span>
						</p>
					</a>
				</li>
				<li class="dishes__item">
					<a class="dishes__link" href="#">
						<picture>

							<source media="(min-width:1080px)" srcset="./src/images/ourDishes/hamburger-desk.jpg ,
                          									./src/images/ourDishes/hamburger-desk@2x.jpg 2x" type="image/jpg">
							<source media="(min-width:1080px)" srcset="./src/images/ourDishes/hamburger-desk.webp ,
                          									./src/images/ourDishes/hamburger-desk@2x.webp 2x" type="image/webp">

							<source media="(min-width:280px)" srcset="./src/images/ourDishes/hamburger-mob.jpg ,
                          									./src/images/ourDishes/hamburger-mob@2x.jpg 2x" type="image/jpg">
							<source media="(min-width:280px)" srcset="./src/images/ourDishes/hamburger-mob.webp,
                          									./src/images/ourDishes/hamburger-mob@2x.webp 2x" type="image/webp">

							<img src="#" alt="photo hamburger">
						</picture>
						<p class="dishes__text">
							Hamburger mini
							<span class="dishes__el">
								<span class="dishes__decor">----------</span>
								2.20$
							</span>
						</p>
					</a>
				</li>
				<li class="dishes__item">
					<a class="dishes__link" href="#">
						<picture>

							<source media="(min-width:1080px)" srcset="./src/images/ourDishes/hamburger-desk.jpg ,
                          									./src/images/ourDishes/hamburger-desk@2x.jpg 2x" type="image/jpg">
							<source media="(min-width:1080px)" srcset="./src/images/ourDishes/hamburger-desk.webp ,
                          									./src/images/ourDishes/hamburger-desk@2x.webp 2x" type="image/webp">

							<source media="(min-width:280px)" srcset="./src/images/ourDishes/hamburger-mob.jpg ,
                          									./src/images/ourDishes/hamburger-mob@2x.jpg 2x" type="image/jpg">
							<source media="(min-width:280px)" srcset="./src/images/ourDishes/hamburger-mob.webp,
                          									./src/images/ourDishes/hamburger-mob@2x.webp 2x" type="image/webp">

							<img src="#" alt="photo hamburger">
						</picture>
						<p class="dishes__text">
							Hamburger mini
							<span class="dishes__el">
								<span class="dishes__decor">----------</span>
								2.20$
							</span>
						</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>