<section class="gallery">
	<div class="container">
		<h2 class="title">A gallery <span class="title__el">of dishes</span></h2>
		<ul class="gallery__list">
			<li class="gallery__item">
				<a class="gallery__link" href="#">
					<picture>

						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/wine-desk.jpg ,
                          							./src/images/foodGallery/wine-desk@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/wine-desk.webp ,
                          							./src/images/foodGallery/wine-desk@2x.webp 2x" type="image/webp">

						<source media="(min-width:280px)" srcset="./src/images/foodGallery/wine-mob.jpg ,
                          							./src/images/foodGallery/wine-mob@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:280px)" srcset="./src/images/foodGallery/wine-mob.webp ,
                          							./src/images/foodGallery/wine-mob@2x.webp 2x" type="image/webp">

						<img src="#" alt="photo glass">
					</picture>
				</a>
			</li>
			<li class="gallery__item">
				<a class="gallery__link" href="#">
					<picture>

						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/coffee-desk.jpg ,
                          							./src/images/foodGallery/coffee-desk@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/coffee-desk.webp ,
                          							./src/images/foodGallery/coffee-desk@2x.webp 2x" type="image/webp">

						<source media="(min-width:280px)" srcset="./src/images/foodGallery/coffee-mob.jpg ,
                          							./src/images/foodGallery/coffee-mob@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:280px)" srcset="./src/images/foodGallery/coffee-mob.webp,
                          							./src/images/foodGallery/coffee-mob@2x.webp 2x" type="image/webp">

						<img src="#" alt="photo coffe">
					</picture>
				</a>
			</li>
			<li class="gallery__item">
				<a class="gallery__link" href="#">
					<picture>

						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/goulash-desk.jpg ,
                          							./src/images/foodGallery/goulash-desk@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/goulash-desk.webp ,
                          							./src/images/foodGallery/goulash-desk@2x.webp 2x" type="image/webp">

						<source media="(min-width:280px)" srcset="./src/images/foodGallery/goulash-mob.jpg ,
                          							./src/images/foodGallery/goulash-mob@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:280px)" srcset="./src/images/foodGallery/goulash-mob.webp,
                          							./src/images/foodGallery/goulash-desk@2x.webp 2x" type="image/webp">

						<img src="#" alt="photo goulash">
					</picture>
				</a>
			</li>
			<li class="gallery__item">
				<a class="gallery__link" href="#">
					<picture>

						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/coffee-desk.jpg ,
                          						    ./src/images/foodGallery/coffee-desk@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/coffee-desk.webp ,
                          						    ./src/images/foodGallery/coffee-desk@2x.webp 2x" type="image/webp">

						<source media="(min-width:280px)" srcset="./src/images/foodGallery/coffee-mob.jpg ,
                          						    ./src/images/foodGallery/coffee-mob@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:280px)" srcset="./src/images/foodGallery/coffee-mob.webp,
                          						    ./src/images/foodGallery/coffee-mob@2x.webp 2x" type="image/webp">

						<img src="#" alt="photo coffe">
					</picture>
				</a>
			</li>
			<li class="gallery__item">
				<a class="gallery__link" href="#">
					<picture>

						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/goulash-desk.jpg ,
                          						    ./src/images/foodGallery/goulash-desk@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/goulash-desk.webp ,
                          						    ./src/images/foodGallery/goulash-desk@2x.webp 2x" type="image/webp">

						<source media="(min-width:280px)" srcset="./src/images/foodGallery/goulash-mob.jpg ,
                          						    ./src/images/foodGallery/goulash-mob@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:280px)" srcset="./src/images/foodGallery/goulash-mob.webp,
                          						    ./src/images/foodGallery/goulash-desk@2x.webp 2x" type="image/webp">

						<img src="#" alt="photo goulash">
					</picture>
				</a>
			</li>
			<li class="gallery__item">
				<a class="gallery__link" href="#">
					<picture>

						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/wine-desk.jpg ,
                          						    ./src/images/foodGallery/wine-desk@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:1080px)" srcset="./src/images/foodGallery/wine-desk.webp ,
                          						    ./src/images/foodGallery/wine-desk@2x.webp 2x" type="image/webp">

						<source media="(min-width:280px)" srcset="./src/images/foodGallery/wine-mob.jpg ,
                          						    ./src/images/foodGallery/wine-mob@2x.jpg 2x" type="image/jpg">
						<source media="(min-width:280px)" srcset="./src/images/foodGallery/wine-mob.webp ,
                          						    ./src/images/foodGallery/wine-mob@2x.webp 2x" type="image/webp">

						<img src="#" alt="photo glass">
					</picture>
				</a>
			</li>
		</ul>
	</div>
</section>