<section class="heroHead"></section>
	<div class="container">

		<!-- HEADER SECTION -->
		<header class="head">
			<div class="mob__el">
				<svg class="logo">
					<use href="./src/images/sprite.svg#icon-logo-desk"></use>
				</svg>
				<button class="mob__btn" type="button" data-mob-open>
					<svg class="svg">
						<use href="./src/images/sprite.svg#icon-menu-mob"></use>
					</svg>
				</button>
			</div>

			<!-- MOBILE VERSION NAVIGATION -->
			<div class="mob__menu is-hidden">
				<button class="mob__btn mob__btn--close" type="button" data-mob-close>
					<svg class="svg">
						<use href="./src/images/sprite.svg#icon-close-menu"></use>
					</svg>
				</button>
				<nav class="mob-nav">
					<ul class="mob-nav__list">
						<li class="mob-nav__item">
							<a class="mob-nav__link" href="#hero">Main</a>
						</li>
						<li class="mob-nav__item">
							<a class="mob-nav__link" href="#menu">Menu</a>
						</li>
						<li class="mob-nav__item">
							<a class="mob-nav__link" href="#history">About</a>
						</li>
						<li class="mob-nav__item">
							<a class="mob-nav__link" href="#">Reserve</a>
						</li>
					</ul>
				</nav>
				<div class="contact">
					<a class="contact__link" href="tel:+234567890">+234567890</a>
					<p class="contact__text">Contact us to reserve a table</p>
				</div>
				<button class="btn" type="button">ORDER A TABLE</button>
			</div>


			<!-- DESCTOP VERSION NAVIGATION -->
			<div class="desktop__menu">
				<nav class="desktop-nav">
					<ul class="desktop-nav__list">
						<li class="desktop-nav__item">
							<a class="desktop-nav__link" href="#hero">Main</a>
						</li>
						<li class="desktop-nav__item">
							<a class="desktop-nav__link" href="#menu">Menu</a>
						</li>
						<li class="desktop-nav__item">
							<a class="desktop-nav__link" href="#history">About</a>
						</li>
						<li class="desktop-nav__item gg">
							<a class="desktop-nav__link" href="#">Reserve</a>
						</li>
					</ul>
				</nav>
				<div class="contact">
					<a class="contact__link" href="tel:+234567890">
						<svg class="contact__svg">
							<use href="./src/images/sprite.svg#icon-phone"></use>
						</svg>
						+234567890</a>
					<p class="contact__text">Contact us to reserve a table</p>
				</div>
				<button class="btn" type="button">ORDER A TABLE</button>
			</div>
		</header>