<section class="reviews"></section>
	<div class="container">
		<ul class="reviews__list">
			<li class="reviews__item">
				<p class="reviews__text">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, reiciendis odit
					blanditiis sint similique
					est nesciunt incidunt alias odio animi doloremque pariatur iste esse corrupti? Omnis, sit
					magni quidem quia ad
					quas quo accusamus praesentium rerum, consectetur corrupti eaque consequatur.
				</p>
				<img class="reviews__img" src="./src/images/reviews/reviews.jpg" alt="photo visitor">
				<h3 class="reviews__title">Visitor</h3>
				<p class="reviews__name">Jozef</p>
			</li>
			<li class="reviews__item">
				<p class="reviews__text">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, reiciendis odit
					blanditiis sint similique
					est nesciunt incidunt alias odio animi doloremque pariatur iste esse corrupti? Omnis, sit
					magni quidem quia ad
					quas quo accusamus praesentium rerum, consectetur corrupti eaque consequatur.
				</p>
				<img class="reviews__img" src="./src/images/reviews/reviews.jpg" alt="photo visitor">
				<h3 class="reviews__title">Visitor</h3>
				<p class="reviews__name">Jozef</p>
			</li>
			<li class="reviews__item">
				<p class="reviews__text">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, reiciendis odit
					blanditiis sint similique
					est nesciunt incidunt alias odio animi doloremque pariatur iste esse corrupti? Omnis, sit
					magni quidem quia ad
					quas quo accusamus praesentium rerum, consectetur corrupti eaque consequatur.
				</p>
				<img class="reviews__img" src="./src/images/reviews/reviews.jpg" alt="photo visitor">
				<h3 class="reviews__title">Visitor</h3>
				<p class="reviews__name">Jozef</p>
			</li>
		</ul>
		<button class="btn reviews__btn" type="button">LEAVE A COMMENT</button>
	</div>
</section>